.container {
    /* Atur margin top agar konten tidak tertutup oleh navbar */

    /* Memusatkan teks di dalam container */
}

.container-fluid {
    background-color: #f8f9fa;
    /* Warna latar belakang */
    padding: 20px;
    /* Padding untuk memberi ruang di sekitar konten */
    border-radius: 10px;
    /* Membuat sudut elemen sedikit melengkung */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Efek bayangan ringan */
}


.container-fluid p {
    font-size: 1.2rem;
    /* Ukuran teks untuk paragraf */
    color: #6c757d;
    /* Warna teks untuk isi */
}

.container-fluid button a {
    color: #ffffff;
    /* Warna teks untuk teks tombol */
    text-decoration: none;
    /* Menghapus garis bawah */
}

.container-fluid button a:hover {
    text-decoration: none;
    /* Menghapus garis bawah pada hover */
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}